<div class="media">
 <a href="/" class="backArrow"><img src="/images/arrow1.png" alt="backtomain"></a>
  <div class="media-body">
    <a href="/" class="mr-3"><img src="/images/icons/brand1.png" alt="logo-Jobber" id="brandIcon1"></a>
        <br></br>
  <div id="headings"><h2 class="mt-0">LOGIN AS COMPANY</h2></div>
    Dont have an account yet? <a href="/singupEmployer">Sign Up Here!</a>
  </div>
</div>

  <form method="POST", action="/loginEmployer">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="emailEmployer"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary" id="btns">LOGIN</button>
</form>


{{#if errorMessage}}
<div class="errMsg">{{errorMessage}}</div>
{{/if}}
