<div class="media">
 <a href="/" class="backArrow"><img src="/images/arrow1.png" alt="backtomain"></a>
  <div class="media-body">
    <a href="/"  class="mr-3"><img src="/images/iconS/brand1.png" alt="logo-Jobber" id="brandIcon1"></a>
     <br></br>
      <div id="headings"><h2 class="mt-0">EMPLOYEE SIGN UP</h2></div>
    Please fill the form bellow.
  </div>

</div>
<form method="POST" action="/singupEmployee">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="nameEmployee" class="form-label">First name</label>
      <input type="text" name="name" class="form-control" id="nameEmployee" placeholder="Enter First name" >
      
    </div>
    <div class="col-md-6 mb-3">
      <label for="secondnameEmployee" class="form-label">Last name</label>
      <input type="text" name="secondname" class="form-control" id="secondnameEmployee" placeholder="Enter Last Name" >
      
    </div>
  </div>
    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="emailEmployee" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="emailEmployee" placeholder="Enter Email">
      
    </div> 
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
      <div>
       Password must be 6 characters and must have a number and a string.
      </div>
    </div>
    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="number" name="age" class="form-control" id="age" placeholder=" Age" >
      <div>
        18+
      </div>
    </div>
    </div>
  </div>
  <div class="form-group">
        By singing up you agree the <a href="/termsAndConditions">terms and conditions</a> 
    </div>
  </div>
  <button class="btn btn-primary" type="submit" id="btns">SIGN UP</button>
</form>

{{#if errorMessage}}
<div class="errMsg">{{errorMessage}}</div>
{{/if}}