<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="mr-3" alt="logo-Jobber"></a>
  <div class="media-body">
<<<<<<< HEAD
    <h5 class="mt-0">SIGN UP FOR EMPLOYERS</h5>
=======
    <h5 class="mt-0">COMPANY SIGN UP</h5>
>>>>>>> master
    Please fill the form bellow.
  </div>

</div>
<form method="POST" action="/singupEmployer">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="nameEmployer" class="form-label">Company / employeer name</label>
      <input type="text" name="name" class="form-control" id="nameEmployer" placeholder="Enter First name" > 
    </div>
  </div>
    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="emailEmployer" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="emailEmployer" placeholder="Enter Email">
      
    </div> 
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
      <div>
       Password must be 6 characters and must have a number and a string.
      </div>
    </div>
  </div>
  <div class="form-group">
        By singing up you agree the <a href="/termsAndConditions">terms and conditions</a> 
    </div>
  </div>
  <button class="btn btn-primary" type="submit">SIGN UP</button>
</form>

{{#if errorMessage}}
<div class="errMsg">{{errorMessage}}</div>
{{/if}}