<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
    <a href="/"><img src="/images/icons/brand1.png" class="mr-3" alt="logo-Jobber" id="brandIcon1"></a>
   <div id="headings"> <h2 class="mt-0">ABOUT</h2></div>
</div>
</div>
<br></br>

<div class="jumbotron">
  <h1 class="display-4">About this page</h1>
  <p class="lead">This page was made by 2 web development students from IronHack remote bootcamp, if you have any questions, please feel free to reach us either on the contact section or with the social media links at the bottom of the page !</p>
  <hr class="my-4">
  <p>Bellow you would find a link to contact details.</p>
  <button  id="btns" class="btn btn-primary" onclick="window.location.href='/contact';">CONTACT</button>

</div>

<div class="card">
  <h5 class="card-header">What is IronHack?</h5>
  <div class="card-body">
    <h5 class="card-title">Iron Hackers!</h5>
    <p class="card-text">IronHack is one of the best options to join a bootcamp and learn web development, take this proyect as a reference of what you would be doing!</p>
    <button  id="btns" class="btn btn-primary" onclick="window.location.href='https://www.ironhack.com';">IRONHACK WEB</button>
  </div>
</div>