<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
    <a href="/"><img src="/images/iconS/brand1.png" class="mr-3" alt="logo-Jobber" id="brandIcon1"></a>
           <br></br>
       <div id="headings"> <h2 class="mt-0">CONTACT</h2></div>
    </div>
</div>
<br></br>

<div class="card-deck">
  <div class="card">
    <img src="images/alvaro.jpg" class="card-img-top" alt="profileImg.">
    <div class="card-body">
      <h5 class="card-title">Alvaro Sánchez</h5>
      <p class="card-text">Web Development.<br>Email : alvaro.sanchez.lamadrid@gmail.com. <br>Phone Number:(34) 656 70 34 08 . <br> Adress: Torrelavega, Cantabria, Spain. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">09/08/2020</small>
    </div>
  </div>
  <div class="card">
    <img src="images/laura.jpg" class="card-img-top" alt="profileImg.">
    <div class="card-body">
      <h5 class="card-title">Laura Blanco Docampo </h5>
      <p class="card-text">Graphic Design.<br>Email : Laurablancodocampo@gmail.com. <br>Phone Number:(34) 654 54 12 31 . <br> Adress: Vigo, Galicia, Spain. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">09/08/2020</small>
    </div>
  </div>
   <div class="card">
    <img src="images/gunner.jpg" class="card-img-top" alt="profileImg.">
    <div class="card-body">
      <h5 class="card-title">Gunner Andersen Gil</h5>
      <p class="card-text"> Web Development.<br>Email : gunner.andersen.gil@gmail.com. <br>Phone Number: (34) 698 16 25 74. <br> Adress: A coruña, Galicia, Spain.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">09/08/2020</small>
    </div>
  </div>
</div>