<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
<h1>Error!</h1>
</div>
</div>
<h2>There was an error on the server! Check the console!</h2>
