<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="navbar-brand1" href="/">JOBBER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="nav-link2" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-link2" href="/contact">Contact</a>
      </li>
    </ul>
    <span class="navbar-text">
      sign up before logging in
    </span>
  </div>
</nav>

<p class="landingInfo"> We dont like linkedin either description of the app blabla bla blabla 
  ...We dont like linkedin either description of the app blabla bla blabla ... </p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Are you a programmer?</h5>
        <p class="card-text">If you are a programmer of any kind looking to be hire, just sign up below ! </p>
        <a href="/singupEmployee" class="btn btn-primary">Sign Up as employee</a>
        <a href="/loginEmployee" class="btn btn-primary">Log In as employee</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Want to hire?</h5>
        <p class="card-text">Are you a company looking for online solution professionals? dont hesitate just sign up below ! </p>
        <a href="/singupEmployer" class="btn btn-primary" >Sign Up as company</a>
        <a href="/loginEmployer" class="btn btn-primary" >Log In as company</a>
      </div>
    </div>
  </div>
</div>

