<a href="/"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
<h1 class="fourOfour1" >ERROR 404</h1>
<p id="fourImg" ><img src="images/404Logo.gif"/></p>
<h2 class="fourOfour2">You F... Up, This route does not exist on the app! Check if everything is ok!</h2>
