<a href="/"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
<h2 class="fourOfour2">¿looking for something?</h2>
<h1 class="fourOfour1" >ERROR 404</h1>
<h2 class="fourOfour2">It was at this moment you knew.</h2>
<p id="fourImg" ><img src="images/404Logo.gif"/></p>
<h2 class="fourOfour2">you F .. up!</h2>

