 <h3 style="text-align: center;">ARE YOU GONNA LEAVE US? <br></br>

  <div class="leaveGif">
   <img src="https://media.giphy.com/media/YLgIOmtIMUACY/giphy.gif">
  </div>
   
   <br></br> 
 ARE YOU SURE YOU WANT TO DO IT?</h3>
 <div class="deleteBtns">
 <form method="POST" action="/deleteEmployer">
 <button type="submit" class="btn btn-primary" id="btns" ><strong>YES</strong></button>
 </form>
 <button type="submit" class="btn btn-primary" id="btns" onclick="window.location.href='/employerProfile';"><strong>NO</strong></button>
 </div>