<form method="POST" action="/employerProfile/{{#._id}}/editEmployer" >

  <div class="form-group">
    <label for="employerName">Name</label>
    <input name="employerName" type="text" class="form-control" id="employerName" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employerLocation">Location</label>
    <input name="employerLocation" type="text" class="form-control" id="employerLocation" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employerEmail">Email</label>
    <input name="employerEmail" type="text" class="form-control" id="employerEmail" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employerAdress">Adress</label>
    <input name="employerAdress" type="text" class="form-control" id="employerAdress" value="{{#}}">
  </div>
  
  <div class="form-group">
    <label for="employerImage">Image</label>
    <input name="employerImage" type="text" class="form-control" id="employerImage" value="{{#}}">
  </div>
  
  <button type="submit" class="btn btn-primary">Edit</button>
</form>


