<h1>This is the Edit</h1>



 

 <form method="POST" action="" > 


 <div class="form-group">
    <label for="employeeName">Name</label>
    <input name="employeeName" type="text" class="form-control" id="employeeName" value="{{loggedInUser.nameEmployee}}">
  </div>

  <div class="form-group">
    <label for="employeeSecondName">Second Name</label>
    <input name="employeeSecondName" type="text" class="form-control" id="employeeSecondName" >
  </div>

  <div class="form-group">
    <label for="employeeBio">Bio</label>
    <input name="employeeBio" type="text" class="form-control" id="employeeBio" >
  </div>

  <div class="form-group">
    <label for="employeeEmail">Email</label>
    <input name="employeeEmail" type="text" class="form-control" id="employeeEmail" >
  </div>

  <div class="form-group">
    <label for="employeeAdress">Adress</label>
    <input name="employeeAdress" type="text" class="form-control" id="employeeAdress" >
  </div>
  
  <div class="form-group">
    <label for="employeeImage">Image</label>
    <input name="employeeImage" type="text" class="form-control" id="employeeImage" >
  </div>
  
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

