<form method="POST" action="/employeeProfile/{{#._id}}/editEmployee" >

  <div class="form-group">
    <label for="employeeName">Name</label>
    <input name="employeeName" type="text" class="form-control" id="employeeName" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employeeSecondName">Second Name</label>
    <input name="employeeSecondName" type="text" class="form-control" id="employeeSecondName" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employeeBio">Bio</label>
    <input name="employeeBio" type="text" class="form-control" id="employeeBio" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employeeEmail">Email</label>
    <input name="employeeEmail" type="text" class="form-control" id="employeeEmail" value="{{#}}">
  </div>

  <div class="form-group">
    <label for="employeeAdress">Adress</label>
    <input name="employeeAdress" type="text" class="form-control" id="employeeAdress" value="{{#}}">
  </div>
  
  <div class="form-group">
    <label for="employeeImage">Image</label>
    <input name="employeeImage" type="text" class="form-control" id="employeeImage" value="{{#}}">
  </div>
  
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

