<div class="media">
 <a href="/recruit"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
    <a href="/"><img src="/images/icons/brand1.png" class="mr-3" alt="logo-Jobber" id="brandIcon1"></a>
           <br></br>
  <div id="headings"><h2 class="mt-0">MAKE AN OFFER</h2></div>
</div>
</div>
<br></br>
<div class="centered">
<h5>write your offer to {{#each result}} {{this.nameEmployee}}{{/each}} bellow. </h5>
</div>
<div class="centered"></div>
<form method="POST" action="/employerProfile/offer/{{result._id}}">
    <textarea name="offerMessage"class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  <div class="centered">
  <button type="submit" class="btn btn-primary" id="btns" >SEND OFFER</button>
  </div>
  <div class="centered"></div>
</form>

