<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="mr-3" alt="backtomain"></a>
  <div class="media-body">
<h1 class="mt-0">SEARCH RESULTS</h1>
</div>
</div>
<br></br>

{{#each employeeData}}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
{{this.nameEmployee}} 
<button class="btn btn-primary" id="btns"><a href="/offer" id="hyplkink">SEND OFFER</a></button>
</nav>
{{/each}}


<br></br>



