<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="mr-3" alt="backtomain"></a>
  <div class="media-body">
<h1 class="mt-0">SEARCH FOR TALENT</h1>
</div>
</div>
<br></br>

{{!-- ------------------------------FORM KEYWORDS----------------------------------------------- --}}

{{!-- <form method="POST" action="/recruit"> --}}

  {{!-- --------BACKEND KEYWORDS------------ --}}
  {{!-- <h3>BACKEND</h3>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox1" value="mySQL">
    <label class="form-check-label" for="inlineCheckbox1">MySQL</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="Python">
    <label class="form-check-label" for="inlineCheckbox2">Python</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="C++">
    <label class="form-check-label" for="inlineCheckbox2">C++</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="C#">
    <label class="form-check-label" for="inlineCheckbox2">C#</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Node.js">
    <label class="form-check-label" for="inlineCheckbox2">Node.js</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ruby">
    <label class="form-check-label" for="inlineCheckbox2">Ruby</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ruby on Rails">
    <label class="form-check-label" for="inlineCheckbox2">Ruby on Rails</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="OpenCS">
    <label class="form-check-label" for="inlineCheckbox2">OpenCS</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="MariaDB">
    <label class="form-check-label" for="inlineCheckbox2">MariaDB</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Symfony">
    <label class="form-check-label" for="inlineCheckbox2">Symfony</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Java">
    <label class="form-check-label" for="inlineCheckbox2">Java</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="OpenCV">
    <label class="form-check-label" for="inlineCheckbox2">OpenCV</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="PHP">
    <label class="form-check-label" for="inlineCheckbox2">PHP</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="MongoDB">
    <label class="form-check-label" for="inlineCheckbox2">MongoDB</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Django">
    <label class="form-check-label" for="inlineCheckbox2">Django</label>
  </div>
  <br></br> --}}

  {{!-- -------FRONTED KEYWORDS------------ --}}
   {{!-- <h3>FRONTEND</h3>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="React">
    <label class="form-check-label" for="inlineCheckbox2">React</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="AngularJS">
    <label class="form-check-label" for="inlineCheckbox2">AngularJS</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="CSS">
    <label class="form-check-label" for="inlineCheckbox2">CSS</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="HTML">
    <label class="form-check-label" for="inlineCheckbox2">HTML</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Vue.js">
    <label class="form-check-label" for="inlineCheckbox2">Vue.js</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="JavaScript">
    <label class="form-check-label" for="inlineCheckbox2">JavaScript</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="TypeScript">
    <label class="form-check-label" for="inlineCheckbox2">TypeScript</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Bootstrap">
    <label class="form-check-label" for="inlineCheckbox2">Bootstrap</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="jQuerry">
    <label class="form-check-label" for="inlineCheckbox2">jQuerry</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="SASS">
    <label class="form-check-label" for="inlineCheckbox2">SASS</label>
  </div>
    <br></br> --}}

     {{!-- -------DEVOPS KEYWORDS------------ --}}
   {{!-- <h3>DEVOPS</h3>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ansible">
    <label class="form-check-label" for="inlineCheckbox2">Ansible</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Docker">
    <label class="form-check-label" for="inlineCheckbox2">Docker</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="Bash">
    <label class="form-check-label" for="inlineCheckbox2">Bash</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Linux Kernel">
    <label class="form-check-label" for="inlineCheckbox2">Linux Kernel</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Git">
    <label class="form-check-label" for="inlineCheckbox2">Git</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Debian">
    <label class="form-check-label" for="inlineCheckbox2">Debian</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="AWS">
    <label class="form-check-label" for="inlineCheckbox2">AWS</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Azure">
    <label class="form-check-label" for="inlineCheckbox2">Azure</label>
  </div>
   <br></br> --}}

    {{!-- -------DATA KEYWORDS------------ --}}
   {{!-- <h3>DATA</h3>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Grafana">
    <label class="form-check-label" for="inlineCheckbox2">Grafana</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Apache Spark">
    <label class="form-check-label" for="inlineCheckbox2">Apache Spark</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Python">
    <label class="form-check-label" for="inlineCheckbox2">Python</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Google Analytics">
    <label class="form-check-label" for="inlineCheckbox2">Google Analytics</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Hadoop">
    <label class="form-check-label" for="inlineCheckbox2">Hadoop</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Kibana">
    <label class="form-check-label" for="inlineCheckbox2">Kibana</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="R">
    <label class="form-check-label" for="inlineCheckbox2">R</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="TensorFlow">
    <label class="form-check-label" for="inlineCheckbox2">TensorFlow</label>
  </div>
  <br></br> --}}

   {{!-- -------BUTTON SUBMIT----------- --}}
  {{!-- <button type="submit" class="btn btn-primary" id="btns">Search this keywords</button>
</form> --}}



<form method="POST" action="/recruit">
<div class="container">
  <div class="row">
    <div class="col">

      {{!-- --------BACKEND KEYWORDS------------ --}}
      <h3>BACKEND</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox1" value="mySQL">
        <label class="form-check-label" for="inlineCheckbox1"><img src="/images/logos/mySQL.jpg" class = "img" alt="img">MySQL</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="Python">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/python.jpg" class = "img" alt="img">Python</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="C++">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/C++.jpg" class = "img" alt="img">C++</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="C#">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/Csharp.jpg" class = "img" alt="img">C#</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Node.js">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/nodejs.jpg" class = "img" alt="img">Node.js</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ruby">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/ruby.jpg" class = "img" alt="img">Ruby</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ruby on Rails">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/rubyOnRails.jpg" class = "img" alt="img">Ruby on Rails</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="MariaDB">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/mariaDB.jpg" class = "img" alt="img">MariaDB</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Symfony">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/symfony.jpg" class = "img" alt="img">Symfony</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Java">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/java.jpg" class = "img" alt="img">Java</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="OpenCV">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/openCV.jpg" class = "img" alt="img">OpenCV</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="PHP">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/php.jpg" class = "img" alt="img">PHP</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="MongoDB">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/mongoDB.jpg" class = "img" alt="img">MongoDB</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Django">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/django.jpg" class = "img" alt="img">Django</label>
        <br></br>
      </div>
    </div>
    
    {{!-- -------FRONTED KEYWORDS------------ --}}
    <div class="col">
      <h3>FRONTEND</h3> 
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="React">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/react.jpg" class = "img" alt="img">React</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="AngularJS">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/angular.jpg" class = "img" alt="img">AngularJS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="CSS">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/css.jpg" class = "img" alt="img">CSS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="HTML">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/html.jpg" class = "img" alt="img">HTML</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Vue.js">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/vuejs.jpg" class = "img" alt="img">Vue.js</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="JavaScript">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/javaScript.jpg" class = "img" alt="img">JavaScript</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="TypeScript">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/typescript.jpg" class = "img" alt="img">TypeScript</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Bootstrap">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/bootstrap.jpg" class = "img" alt="img">Bootstrap</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="jQuerry">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/j-query.jpg" class = "img" alt="img">jQuerry</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="SASS">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/sass.jpg" class = "img" alt="img">SASS</label>
      </div>
    </div>
    <br></br>
    <div class="w-100"></div>

    {{!-- -------DEVOPS KEYWORDS------------ --}}
    <div class="col">
      <h3>DEVOPS</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Ansible">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/ansible.jpg" class = "img" alt="img">Ansible</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Docker">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/docker.jpg" class = "img" alt="img">Docker</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="Bash">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/bash.jpg" class = "img" alt="img">Bash</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Linux Kernel">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/linux.jpg" class = "img" alt="img">Linux Kernel</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Git">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/git.jpg" class = "img" alt="img">Git</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Debian">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/debian.jpg" class = "img" alt="img">Debian</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="AWS">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/aws.jpg" class = "img" alt="img">AWS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Azure">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/azure.jpg" class = "img" alt="img">Azure</label>
      </div>
    </div>
    <br></br>

    {{!-- -------DATA KEYWORDS------------ --}}
    <div class="col">
      <h3>DATA</h3>
       <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Grafana">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/grafana.jpg" class = "img" alt="img">Grafana</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Apache Spark">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/spark.jpg" class = "img" alt="img">Apache Spark</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Python">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/python.jpg" class = "img" alt="img">Python</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Google Analytics">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/googleAnalytics.jpg" class = "img" alt="img">Google Analytics</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Hadoop">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/hadoop.jpg" class = "img" alt="img">Hadoop</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  name = "keywords" type="checkbox" id="inlineCheckbox2" value="Kibana">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/kibana.jpg" class = "img" alt="img">Kibana</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="R">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/r.jpg" class = "img" alt="img">R</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="inlineCheckbox2" value="TensorFlow">
        <label class="form-check-label" for="inlineCheckbox2"><img src="/images/logos/tensorFlow.jpg" class = "img" alt="img">TensorFlow</label>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-primary" id="btns">Add keywords</button>
</form>